In [1]:
print("First program")

First program

In [2]:
#Comments can be added with # at the begining 
print("Line 1") # this is comment

Line 1

In [3]:
"""
Multiline comment
Starts and ends with tripple double quote
"""
print("Only line in this cell")

Only line in this cell

# # Variable assignment

In [4]:
#Python automatically detects variable type
x=5
y="Rajkumar"

In [5]:
type(x)

int

In [6]:
type(y)

str

In [7]:
#Type casting can happen if variable is compatible
x=str(5)
x

'5'

In [8]:
type(x)

str

In [9]:
x=float(5)
x

5.0

In [10]:
type(x)

float

In [11]:
x="5"

In [12]:
y=int(x)
type(y)

int

In [13]:
y

5

## Variable names

<b>Rules</b><br>
<li>A variable name must start with a letter or the underscore character
<li>A variable name cannot start with a number
<li>A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
<li>Variable names are case-sensitive (age, Age and AGE are three different variables)

In [14]:
#All are valid names for a variable
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [15]:
#Below are invalid names for a variable 
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (2033256595.py, line 2)

## Multi Words Variable Names

In [16]:
#Camel Case
myVariableName = "John"
print(myVariableName)

John

In [17]:
#Pascal Case
MyVariableName = "John"
print(MyVariableName)

John

In [18]:
#Snake Case
my_variable_name = "John"
print(my_variable_name)

John

## Assign Multiple Values

### Many Values to Multiple Variables

In [19]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

### One Value to Multiple Variables

In [20]:
x = y = z = "5"
print(x)
print(y)
print(z)

5
5
5

### Unpack a Collection

In [21]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## Output Variables

In [22]:
x = "Python is awesome"
print(x)

Python is awesome

In [23]:
#Note - Print can take multiple variables and it uses " " space as a default delimeter
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [24]:
# + operator is used for concatination
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [25]:
# With numbers + is used for addition
x = 5
y = 10
print(x + y)

15

In [26]:
# For + operator both variables must be of same type
# or you need to explicitly type cast 
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
# if same above code is used with , then it just prints variable with space in between
x = 5
y = "John"
print(x, y)

5 John

## Global Variables

In [28]:
#Any variable declared outside function can access that variable inside function
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()
x = "super easy"
myfunc()

Python is awesome
Python is super easy

In [29]:
# A locval variable with same name can override global variable in that function block
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [30]:
pwd()

'C:\\Users\\Hewlett Packard\\Downloads\\DataScience\\Coding\\Python\\01PythonFundamentals'

In [31]:
val1 = input("Enter your favourite number :")
val1

Enter your favourite number :23

'23'