In [1]:
l=[1,2,3,5,8]

In [2]:
l

[1, 2, 3, 5, 8]

In [3]:
for item in l:
    print(item)

1
2
3
5
8

In [4]:
s='Rajkumar'
for char in s:
    print(char)

R
a
j
k
u
m
a
r

In [5]:
t=('Rajkumar', 4, 'AAA', [67,352,992])

In [6]:
for item in t:
    print(item)

Rajkumar
4
AAA
[67, 352, 992]

In [7]:
for item in t:
    print('type of ', item , ' is :' , type(item))

type of  Rajkumar  is : <class 'str'>
type of  4  is : <class 'int'>
type of  AAA  is : <class 'str'>
type of  [67, 352, 992]  is : <class 'list'>

In [8]:
l = [1,2,'Raj', 3.4, 'test123', 2+3j]

In [9]:
for item in l:
    if(type(item) == int):
        print(item)

1
2

In [10]:
l=[2,5,22,'Rajkumar', [42,794,'TTT']]

In [11]:
ctr = 0
for item in l:
    print(f'index of {item} is {ctr}')
    ctr = ctr + 1

index of 2 is 0
index of 5 is 1
index of 22 is 2
index of Rajkumar is 3
index of [42, 794, 'TTT'] is 4

In [12]:
for i in enumerate(l):
    print(i)

(0, 2)
(1, 5)
(2, 22)
(3, 'Rajkumar')
(4, [42, 794, 'TTT'])

In [13]:
for i, j in enumerate(l):
    print(i, j)

0 2
1 5
2 22
3 Rajkumar
4 [42, 794, 'TTT']

In [14]:
for i in range(len(l)):
    print(i, l[i])

0 2
1 5
2 22
3 Rajkumar
4 [42, 794, 'TTT']

In [15]:
for item in l:
    if type(item) == str:
        for char in item:
            print(char)

R
a
j
k
u
m
a
r

In [16]:
l1=[]
for item in l:
    if type(item) == int:
        l1.append(item*item)

In [17]:
l1

[4, 25, 484]

#### forelse

In [18]:
l1

[4, 25, 484]

In [19]:
for item in l1:
    if item%10 == 0:
        break
    print(item)
else:
    print("All elements travesed and now in else block")
       
print("-------------------------------------------")
for item in l1:
    if item%5 == 0:
        break
    print(item)
else:
    print("All elements travesed and now in else block")

4
25
484
All elements travesed and now in else block
-------------------------------------------
4

#### Note
for .. else: statement is used when you want to commit specific number of transaction in one go.. execute code if all elements are processed

### range() function

In [20]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [22]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [23]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [24]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [25]:
list(range(0,10,-1))

[]

In [26]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
list(range(10,4,-2))

[10, 8, 6]

In [28]:
list(range(10,-4,-2))

[10, 8, 6, 4, 2, 0, -2]

### for loop with range() function

In [29]:
for i in range(5):
    print(i)

0
1
2
3
4

In [30]:
for i in range(5):
    print("*")

*
*
*
*
*

In [31]:
for i in range(5):
    print(" * ", end = "")

 *  *  *  *  *

In [32]:
for i in range(5):
    for j in range(5):
        print(" * ", end="")
    print("")

 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

In [33]:
for i in range(5):
    for j in range(i):
        print(" * ", end="")
    print("")

 *
 *  *
 *  *  *
 *  *  *  *

In [34]:
for i in range(5):
    for j in range(i+1):
        print(" * ", end="")
    print("")

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [35]:
for i in range(6):
    for j in range(5):
        if i > j:
            print(" * ", end="")
    print("")

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

### for loop with dictionary

In [36]:
d = {'key1': 'value1', 'key2':23, 'key3':726}
d

{'key1': 'value1', 'key2': 23, 'key3': 726}

In [37]:
for i in d:
    print(i)
    print(type(i))

key1
<class 'str'>
key2
<class 'str'>
key3
<class 'str'>

In [38]:
d.items()

dict_items([('key1', 'value1'), ('key2', 23), ('key3', 726)])

In [39]:
for i in d.items():
    print(i)

('key1', 'value1')
('key2', 23)
('key3', 726)

In [40]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [41]:
for i in d.keys():
    print(i)

key1
key2
key3

In [42]:
d.values()

dict_values(['value1', 23, 726])

In [43]:
for i in d.values():
    print(i)

value1
23
726

### string in loops

In [44]:
s = "Rajkumar S Hajgude"

In [45]:
len(s)

18

In [46]:
length = 0
for i in s:
    length = length +1
    
print(length)

18

#### reverse string

In [47]:
s[::-1]

'edugjaH S ramukjaR'

In [48]:
for i in range(len(s)-1, -1, -1):
    print(s[i], end="")

edugjaH S ramukjaR

In [49]:
l = len(s)-1
while l >=0:
    print(s[l], end="")
    l= l-1

edugjaH S ramukjaR

In [50]:
v = "aAeEiIoOuU"

In [51]:
for i in s:
    if i not in v:
        print(i, end="")

Rjkmr S Hjgd

In [52]:
s="nitin"

In [53]:
l = len(s)-1
for i in range(len(s)):
    if i >= l-i:
        print("palindrom")
        break
        
    if(s[i] == s[l-i]):
        continue

palindrom

In [54]:
s="nitin"
l = len(s)-1
for i in range(len(s)):
    if(s[i] != s[l-i]):
        break
else:
    print("palindrom")

palindrom

In [61]:
d["ke4"]='Key4'

In [64]:
l1=[]
l2=[]
for key in d:
    if len(key) < 4:
        l1.append(key)
    else:
        l2.append(key)
        
print(l1,l2)

['ke4'] ['key1', 'key2', 'key3']

In [66]:
new_dict = {'dict_1':{'k1':61, 
                    'k2':82,
                   'k7':23},
           'dict_2':{'k3':24,
                   'k4':34, 
                   'k6':12}
           }

In [72]:
for key, temp_dict in new_dict.items():
    num = 0
    for d in temp_dict.values():
        if d > num:
            num = d
    print(key, num)

dict_1 82
dict_2 34

In [74]:
for temp_dict in new_dict.values():
    print(max(temp_dict.values()))

82
34

In [92]:
new_dict['g']=34
new_dict['h']=[2,67,32,12,43]
new_dict['i']=(34,223,12)
new_dict['ke']="asdf"

In [77]:
new_dict

{'dict_1': {'k1': 61, 'k2': 82, 'k7': 23},
 'dict_2': {'k3': 24, 'k4': 34, 'k6': 12},
 'g': 34,
 'h': [2, 67, 32, 12, 43],
 'i': (34, 23, 12),
 'ke': 'asdf'}

In [93]:
l = []
for i in new_dict.values():
    if type(i) == dict:
        l.append(max(i.values()))
    if type(i) == list:
        l.append(max(i))
    if type(i) == tuple:
        l.append(max(i))
max(l)

223