In [86]:
def test_fn():
    print("This is my first function")

In [87]:
test_fn()

This is my first function

In [88]:
## By default function returns NoneType
type(test_fn())

This is my first function

NoneType

In [89]:
print(test_fn())

This is my first function
None

In [90]:
def test_fn():
    print("This is my first function")
    return 5

In [91]:
type(test_fn())

This is my first function

int

In [92]:
print(test_fn())

This is my first function
5

#### remember that if youy assign variable = function()
#### then variable holds onlt return value and not any other print OR any other value

In [93]:
## function can return multiple values
def test_fn():
    print("This is my first function")
    return 5, 7

In [94]:
a = test_fn()

This is my first function

In [95]:
a

(5, 7)

In [96]:
## you can hold two values in two diff variables
a,b = test_fn()

This is my first function

In [97]:
a

5

In [98]:
b

7

In [99]:
## filter ints
def filter_int(a):
    lt = []
    if type(a) == list:
        for i in a:
            if type(i) == int :
                lt.append(i)
    return lt

In [100]:
filter_int([2,4,1,'a3'])

[2, 4, 1]

In [101]:
def filter_int(a):
    lt = []
    if type(a) == list:
        for i in a:
            if type(i) == int :
                lt.append(i)
            if (type(i) == tuple) or ( type(i) == list):
                for j in i:
                    if type(j) == int:
                        lt.append(j)
    return lt

In [102]:
filter_int([2,4,1,'a3',(4,5,6)])

[2, 4, 1, 4, 5, 6]

In [103]:
def concat_list(a,b):
    if type(a) != list:
        return "a is not list"
    if type(b) != list:
        return "b is not list"
    print(a, b)
    return a+b

In [104]:
a = concat_list([23,2,'sd'],['a', 63, 'as'])

[23, 2, 'sd'] ['a', 63, 'as']

In [105]:
a

[23, 2, 'sd', 'a', 63, 'as']

In [106]:
def draw_triangle(a):
    if type(a) != int:
        return "give valid int input"
    for i in range(a+1):
        for j in range(i):
            print(" * ", end="")
        print("")

In [107]:
draw_triangle(4)

 *
 *  *
 *  *  *
 *  *  *  *

In [108]:
### How to add function dos_string for function
def draw_triangle(a):
    """ This is function to draw trianle patterns"""
    if type(a) != int:
        return "give valid int input"
    for i in range(a+1):
        for j in range(i):
            print(" * ", end="")
        print("")

In [109]:
"""This is
multi line comment
"""

'This is\nmulti line comment\n'

In [110]:
# Return length of string passed to a function 
def len_string(s):
    if type(s)!= str :
        return "pass a string to function"
    i =0
    for ch in s:
        i = i +1
    return i

In [111]:
len_string('afdasa')

6

In [112]:
# print index and element inside a list
def index_element(lt):
    if type(lt)!= list:
        return "Please pass list as parameter"
    i = 0
    for element in lt:
        print(f"{element} is present at {i}")
        i = i +1

In [113]:
index_element([2,3,2,5423,452])

2 is present at 0
3 is present at 1
2 is present at 2
5423 is present at 3
452 is present at 4

### Function with unknown no of arguments

To hold any number of parameters passed to a function then use * and variable name<br>
You can treat that variable as tuple<br>
Remember that function can work with zero arguments also

In [114]:
def multi_arguements(*args):
    print(f"Function is called with {len(args)} arguments and arguments are {args}")
    print(type(args))

In [115]:
multi_arguements(3,234, 'asd')

Function is called with 3 arguments and arguments are (3, 234, 'asd')
<class 'tuple'>

In [116]:
multi_arguements(3)

Function is called with 1 arguments and arguments are (3,)
<class 'tuple'>

In [117]:
multi_arguements()

Function is called with 0 arguments and arguments are ()
<class 'tuple'>

In [118]:
def multi_arguements_1(a, *args):
    print(f"Function is called with {len(args)} arguments and arguments are {args}")
    print(f"a is {a}")
    print(type(args))

In [119]:
multi_arguements_1(32,4,32,4,3)

Function is called with 4 arguments and arguments are (4, 32, 4, 3)
a is 32
<class 'tuple'>

If you have a variable inside function definition but at right side then you need to pass a named parameter while calling

In [120]:
def multi_arguements_2(a, *args, b, c):
    return a, args , b, c

In [121]:
multi_arguements_2(1,2,b=3,c=4) # must provide a named parameter while calling

(1, (2,), 3, 4)

In [122]:
multi_arguements_2(1,b=3,c=4) # must provide a named parameter while calling, *args is empty tuple here

(1, (), 3, 4)

In [123]:
multi_arguements_2(34,'234',[34,'sr'], b=3,c=4)

(34, ('234', [34, 'sr']), 3, 4)

### key-value paired argument

In [124]:
def key_value_args(**kwargs):
    print(kwargs)

Take care while calling function, remember while calling always provide named parameters<br>
while calling named parameters, python converts each variable into a key and varible value is dict key value

In [125]:
key_value_args(a=1, b=2)

{'a': 1, 'b': 2}

Note: Do not enclose your key in a single or double quote

In [126]:
key_value_args('a'=1, b=2)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2989600446.py, line 1)

Note: While using *args and **kwargs in same function argument
    remember to use *args first and **kwargs later

In [128]:
def test_2(**kwargs, *args):
    return kwargs, args

SyntaxError: invalid syntax (3300006137.py, line 1)

In [131]:
def test_2(*args, **kwargs):
    return kwargs, args

Note: If you have a positional parameter then same variable can not be part of **kwargs in same parameter list

In [134]:
def test_3(a,*args, **kwargs):
    return kwargs, args, a

In [135]:
test_3(5, 4,3,2,1, a=4,b=1)

TypeError: test_3() got multiple values for argument 'a'

## Lambda function

In [138]:
lambda a,b : a*b

In [140]:
var = lambda a,b : a*b

In [141]:
var(3,4)

12

In [147]:
x = lambda x : [i for i in x]

In [149]:
x([3,4,5,6,2])

[3, 4, 5, 6, 2]

In [159]:
x((3,4,5,6,2))

[3, 4, 5, 6, 2]

In [160]:
a = lambda **kwargs : kwargs

In [161]:
a(x=5, y=10)

{'x': 5, 'y': 10}

In [162]:
a = lambda **kwargs : kwargs.values()

In [163]:
a(x=5, y=10)

dict_values([5, 10])

## variable scope, global . local variable

In [174]:
a = 10
def multi_1(b, c=4):
    a=5
    return b*c + a

In [175]:
multi_1(3,4)

17

In [176]:
multi_1(4)

21

In [178]:
a

10