In [2]:
a=10
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [4]:
a="Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [9]:
next(a)

TypeError: 'str' object is not an iterator

if object is able to access one by one with index then it is called as object is iterable

In [10]:
a

'Python'

In [15]:
b = iter(a)

In [12]:
b

In [13]:
for i in b:
    print(i)

P
y
t
h
o
n

In [23]:
b = iter(a)

In [24]:
next(b)

'P'

<b>int is not iterable<br>
str is iterable<br>
list is iterable<br>

<b>iterable object can be converted to iterator

# Creating iterable class

In [29]:
r = range(5)

In [32]:
r = iter(r)

In [33]:
next(r)

0

In [34]:
next(r)

1

## generator

#### Function based

In [54]:
def fib(n):
    a = 0
    b=1
    for i in range(n):
        a,b = b, a+b
        print(i,a)

In [56]:
fib(10)

0 1
1 1
2 2
3 3
4 5
5 8
6 13
7 21
8 34
9 55

#### Yield

In [52]:
def fib(n):
    a = 1
    b=1
    for i in range(n):
        yield  i, a
        a,b = b, a+b

In [53]:
for i in fib(10):
    print(i)

(0, 1)
(1, 1)
(2, 2)
(3, 3)
(4, 5)
(5, 8)
(6, 13)
(7, 21)
(8, 34)
(9, 55)